{{define "home"}}
<!DOCTYPE html>
<html>

  {{template "header" .}}

  <body>
    <div class="content">
      <img src="/static/temple.png" width="25%" />
      <h1>Ancient Places Country Search</h1>
      <form action="/search" method="get">
        <p>
          <label for="searchbox">Country Name:</label>
          <input list="countries-list" type="text" id="country" name="country" />
          <button type="submit">Search</button>
        </p>
      </form>

      <p>
        Powered by
          <a href="https://pleiades.stoa.org/">Pleiades</a>,
          <a href="https://www.naturalearthdata.com/">Natural Earth</a>, and
          <a href="https://echo.labstack.com/">Echo</a>.
      </p>
    </div>

    <datalist id="countries-list">
      {{range $_, $country := .Data}}
      <option value="{{$country.Name}}">{{$country.Name}}</option>
      {{end}}
    </datalist>

  </body>

</html>
{{end}}
